/**
*
*
*
* **/

using System.Threading.Tasks;
using ETModel;

namespace ETHotfix
{
	[ActorMessageHandler(AppType.XX)]
	public class [HandlerName] : AMActorHandler<[EntityName], [ProtoReuestName]>
	{
		protected override async Task Run([EntityName] [SmallEntityName], [ProtoReuestName] message])
		{
			 await Task.CompletedTask;
		}
		
	}//class_end
}